<ion-view view-title="Make Contact">
  <ion-content class="padding center">
  	<div class="left">
	  	<ul class="list">
		    <li class="item heading">
		      My Contact Details
		    </li>
		    <li class="item">
		      Etienne Strydom
		    </li>
		    <li class="item">
		      082 825 8037
		    </li>
		    <li class="item">
		      eti.strydom@gmail.com
		    </li>
		</ul>
  	</div>
    <div class="list list-inset left">
    	<label class="item heading">
	    	Contact Me
	  	</label>
	  	<label class="item item-input">
	    	<input type="text" placeholder="Name">
	  	</label>
	  	<label class="item item-input">
	    	<input type="text" placeholder="Email">
	  	</label>
	  	<label class="item item-input">
	    	<textarea class="textarea" type="text" placeholder="Message"></textarea>
	  	</label>	 	
	</div>
	<button class="button button-dark bg-green">
	  	Submit
	</button>
	<br><br><br><br>
  </ion-content>
</ion-view>
